<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav" style="text-align:center">
    <div class="collapse navbar-toggleable-xs clearfix text-center" style="text-align:center">
      <!--  <a class="navbar-brand" [routerLink]="['/dashboard','/home']">TV-Show Decider App</a>-->

        <ul class="nav navbar-nav top-nav navbar-right pull-xs-right top-right-nav">
            <li class="nav-item buy-now" >
                <h1>Show Decider</h1>
            </li>
          

        </ul>
    </div>
</nav>
